h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: monospace;
}

body {
    font-size: 20px;
}

#two {
    font-size: 2.0em;
}

p {
    font-style: italic;
    font-weight:bold;
}

/* Escolhe onde vai ser o alinhamento do texto */
h1 {
    text-align: center;
}

/* Importar uma fonte de fora (Google Fonts) */
h2 {
    text-align: center;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*
1em = 16px
2em = 32px
*/
